---
- name: Deploy Storage Account and enable Static Website
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    resource_group: cloud-resume-challenge
    location: centralus
    storage_account_name: danielwongcrc2025
    bicep_file: "{{ playbook_dir }}/../storage.bicep"
    built_json: "{{ playbook_dir }}/../storage.built.json"
    deployment_name: "crc-deploy"
    container_name: "$web"

  vars_files:
    - auth.yml

  tasks:
    - name: Compile storage.bicep to ARM JSON
      ansible.builtin.command: >
        az bicep build
        --file {{ bicep_file }}
        --outfile {{ built_json }}
      changed_when: true

    - name: Load compiled JSON template
      set_fact:
        arm_template: "{{ lookup('file', built_json) | from_json }}"

    - name: Deploy ARM template to resource group
      azure.azcollection.azure_rm_deployment:
        resource_group: "{{ resource_group }}"
        location: "{{ location }}"
        deployment_mode: incremental
        template: "{{ arm_template }}"
        parameters:
          storage_account_name:
            value: "{{ storage_account_name }}"
          location:
            value: "{{ location }}"
          container_name:
            value: "{{ container_name }}"
