---
- name: Purge Cloudflare Cache
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    cloudflare_api_token: "{{ CLOUDFLARE_API_TOKEN }}"
    cloudflare_zone_id: "{{ CLOUDFLARE_ZONE_ID }}"
  
  vars_files:
    - vault/prod.yml

  tasks:
    - name: Purge everything from Cloudflare cache
      uri:
        url: "https://api.cloudflare.com/client/v4/zones/{{ cloudflare_zone_id }}/purge_cache"
        method: POST
        headers:
          Authorization: "Bearer {{ cloudflare_api_token }}"
          Content-Type: "application/json"
        body: '{"purge_everything":true}'
        body_format: json
      register: purge_result

    - name: Show purge result
      debug:
        msg: "{{ purge_result.json }}"
